@font-face {
    font-family: titleFont2;
    src: url("../fonts/black.TTF");
}

#about {
  color: black;
  background-color: white;
  font-size: 1rem;
  padding: 0;
}

.about__exitImg {
  width: 2.5rem;
  height: auto;
  margin-top: 1rem;
}

.about__plantImg {
  width: 90%;
}

.about__treeImg {
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(5, 90, 5);
    gap: 1em;
    border: double;
}

.para {
    margin: 1rem;
    padding: 1rem;
}

.titre {
    text-align: center;
    margin: 1rem;
    font-family: titleFont2;
    color: white;
}

.about__treeImg2 {
    border-radius: 20px;
}

.about__treeImg2 {
    border-radius: 20px;
    height: 26.5rem;
    width: 100%;
    box-shadow: 2px 2px 5px rgb(5, 90, 5);
    border: double;
}

.background {
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 25px;
    border-radius: 20px;
    border: double;
    box-shadow: 2px 2px 5px rgb(5, 90, 5);
}

.about__gif {
    margin-bottom: 5rem;
    height: 20rem;
    width:  25rem;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(5, 90, 5);
    border: double;
}

.col img {
  margin-top: 2.5em;
}

.about__photoImg {
  height: 18rem;
  width: 25rem;
}
