{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/about.css">{% endblock %}
{% block content %}
    <body id="about">
        <h1 class="titre">The benefits of music on plants</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class='about__treeImg' src='assets/images/plante1.jpg' alt='treelogo'>
                </div>
                <div class="col">
                    <img class='about__treeImg2' src='assets/images/clemusic.jpg' alt='treelogo'>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="titre">Study</h2>
                    <div class="background">
                        <p class="para">This idea of ​​treating plants through music stems from a theory by Joël Sternheimer also known under the pseudonym Evariste. This musician (a science graduate from the University of Lyon) claims that certain melodies are therefore capable of promoting plant growth but also of healing them. These particular melodies would be transcriptions of the series of frequencies produced by "the succession of clashes of amino acids" during the synthesis of a protein, explains on its site the company Genodics which markets a musical solution based on this theory, named genodic. Unfortunately, this method is sorely lacking in validation. It is even considered a pseudo-science by AFIS (French Association for Scientific Information) which publishes the journal Science and Pseudo-Sciences.</p>
                    </div>
                    <img class='about__gif' src='assets/images/cactus.gif' alt='gif'>
                </div>
                <div class="col img">
                    <img class='about__treeImg' src='assets/images/plantinstru.jpeg' alt='plant'>
                    <h2 class="titre">Photosynthesis</h2>
                    <div class="background">
                        <p class="para">Most life on Earth depends on photosynthesis.The process is carried out by plants, algae, and some types of bacteria, which capture energy from sunlight to produce oxygen (O2) and chemical energy stored in glucose (a sugar). Herbivores then obtain this energy by eating plants, and carnivores obtain it by eating herbivores.</p>  
                    </div>
                </div>
                <div class="col">
                    <h2 class="titre">Benefit of music</h2>
                    <div class="background">
                        <p class="para">If genodic is therefore questionable, it is not improbable that plants can be reactive to sounds: "Sounds are high frequency oscillations capable of exerting mechanical stress on plants: they can feel it through the mechanosensor intermediary "explains Alexis Peaucelle from the Jean-Pierre Bourgin Institute (INRA Versailles). "These stimuli can generate oxidative stress in plants and therefore have an effect on their growth and perhaps even allow them to fight against certain pathogens.</p>
                    </div>
                    <img class='about__treeImg' src='assets/images/music.jpg' alt='plant'>
                    <img class='about__photoImg' src='assets/images/photosynthese.gif' alt='fleur'>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
